// .bck {
//   // background-repeat: no-repeat, repeat;
//   // background-blend-mode: color-dodge;
//   background: linear-gradient(rgba(150, 78, 78, 0.5), rgba(0, 0, 0, 0.5)),
//     var("../../assets/lang-center.svg") center center;
//   background-size: cover;

//   /* Here's the same styles we applied to our content-div earlier */
//   color: white;
//   min-height: 50vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.image-box {
  /* Here's the trick */
  background: linear-gradient(#0029ff, rgba(36, 19, 19, 0.5)),
    var(--image-url) center center;

  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* For demo only */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h5 {
  font-size: 40px;
  color: whitesmoke;
  align-content: center;
}

.header {
  background-color: rgb(27, 56, 151);
  color: white;
  align-content: center;
}
